[submodule "ext/cqcppsdk"]
	path = ext/cqcppsdk
	url = https://github.com/cqmoe/cqcppsdk.git
[submodule "ext/toml11"]
	path = ext/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
